@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.stars{
  width: 120%;
  height: 120%;
  background-image: url(/images/night-dark-starry-sky-milky-way-stars.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -25%;
  left: -20%;
  animation: moveStars 17s forwards ease-out;
}
      @keyframes moveStars {
        100%{
          transform:translate(15%, 20%);
        }
      }

.mountain{
  background-image: url(/images/mountain5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  mix-blend-mode: luminosity;
}
.moon{
  background-image: url(/images/moon_PNG42.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 90vw;
  height: 90vw;
  max-width: 500px;
  min-width: 300px;
  max-height: 500px;
  min-height: 300px;
  position: absolute;
  bottom: -50px;
  left: 0%;
  mix-blend-mode: luminosity;
  animation: riseUp 15s forwards linear;
}
.moon:hover{
  animation-play-state: paused;
}
@keyframes riseUp{
  50%{
    bottom: 50px;
    transform: rotate(15deg) scale(1.1);
  }
  100%{
    bottom: 150px;
    transform: rotate(30deg) scale(0.9);
  }
}
.title{
  width: 100%;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  text-shadow: 3px 3px 10px rgba(0,0,0,0);
  color: rgba(255,255,255,0);;
  position: absolute;
  z-index: 1;
  top:-100px;
  animation: apearTitle 4s ease-out forwards;
  animation-delay: 11s;
}
@keyframes apearTitle {
  100%{
    transform: translateY(200px);
    color: rgba(255,255,255,1);
    text-shadow: 3px 3px 10px rgba(0,0,0,1);
  }
}

@media screen and (min-width:700px){
  .moon{
    width: 70vw;
    height: 70vw;
    max-width: 650px;
    min-width: 500px;
    max-height: 650px;
    min-height: 500px;
  }
  .title{
    font-size: 100px;
  }
}

@media (min-width:1000px){
  .moon{
    width: 50vw;
    height:50vw;
    max-width: 800px;
    min-width: 650px;
    max-height: 800px;
    min-height: 650px;
  }
  .title{
    font-size: 150px;
  }
}