@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.stars{
  width: 120%;
  height: 120%;
  background-image: url(/images/night-dark-starry-sky-milky-way-stars.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;

  /* Después - Mover Estrellas*/
        top: -25%;
        left: -20%;
        animation: moveStars 20s forwards;
        *animation-play-state: paused;
}
      @keyframes moveStars {
        100%{
          transform:translate(15%, 20%);
        }
      }

.mountain{
  background-image: url(/images/mountain5.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
  top:50%;
  mix-blend-mode: luminosity;
}
.moon{
  background-image: url(/images/moon_PNG42.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 400px;
  height: 400px;
  position: absolute;
  top:35%;
  left: 5%;
  mix-blend-mode: luminosity;
  /* animation: riseUp 20s forwards linear reverse;
  *animation-play-state: paused; */
}
.moon:hover{
  animation-play-state: paused;
}
@-webkit-keyframes riseUp{
  100%{
    left: 75%;
    top: 60%;
    transform: rotate(45deg) scale(0.5);
  }
}
@keyframes riseUp{
  100%{
    left: 75%;
    top: 60%;
    transform: rotate(45deg) scale(0.5);
  }
}
.title{
  width: 100%;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 9.375rem; /*50px/16px*/
  text-shadow: 3px 3px 10px rgba(0,0,0,0);
  color: rgba(255,255,255,0);;
  position: absolute;
  z-index: 1;
  top:-200px;
  animation: apearTitle 10s ease-out forwards;
  animation-delay: 16s;
  /* animation-name: apearTitle;
  animation-duration: 1s; */
}
@keyframes apearTitle {
  100%{
    transform: translateY(300px);
    color: rgba(255,255,255,1);
    text-shadow: 3px 3px 10px rgba(0,0,0,1);
  }
}